.article-preview-primary__img {
  margin-bottom: em(100px);
  @include for-mobile-only {
    margin-bottom: em(40px);
  }
}

.article-preview__img {
  margin-bottom: em(32px);
}

.article-preview__meta {
  font-family: var(--secondary-font);
  color: #b4ad9e;
  font-size: rem(14px);
  text-transform: uppercase;
}


.article-preview__title {
  font-size: rem(30px);
  margin: em(28px) 0 em(34px);
  transition: color 0.3s;
  &:hover {
    text-decoration: underline;
    color: orange;
  }
}

.article-preview__summary {
  line-height: 1.71;
  font-size: rem(14px);
}

.article-preview__action {
  margin-top: em(52px);
  cursor: pointer;
}



.articles-preview {
  --gallery-margin: em(60px);
  margin-left: calc(var(--gallery-margin) * -1);
  margin-top: em(135px);
  @include for-mobile-only {
    margin: 0;
    display: block;
  }
}

.article-preview {
  flex: 0 0 calc(50% - var(--gallery-margin));
  margin-left: var(--gallery-margin);
  margin-bottom: em(132px);
  @include for-mobile-only {
    margin: 0;
  }
}


.home__load-more-section {
  height: em(150px);
}

.home__load-more-btn {
  width: em(164px);
  height: em(60px);
  border: 1px solid var(--main-color);
  font-size: rem(20px);
  color: var(--main-color);
  transition: all 0.5s;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}