.newsletter {
  --newsletter-height: em(290px);
  --submit-btn-image-width: 32px;
  background-color: var(--sections-bg);
  height: var(--newsletter-height);
}

.newsletter-email {
  margin-top: em(65px);
  position: relative;
}

.newsletter__submit-btn {
  background-image: url('../assets/send-icon.png');
  width: var(--submit-btn-image-width);
  height: 17px;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;
}

.newsletter__email-input {
  padding-right: calc(var(--submit-btn-image-width) + 5);
}