@import 'vendor';
@import 'functions';
@import 'helpers';
@import 'fonts';
@import 'vars';
@import 'layout';
@import 'base';
@import 'forms';

/* Components */

@import 'main-nav';
@import 'articles';
@import 'newsletter';
@import 'main-footer';


.home__load-more-section {
  height: em(150px);
}

.home__load-more-btn {
  width: em(164px);
  height: em(60px);
  border: 1px solid var(--main-color);
  font-size: rem(20px);
  color: var(--main-color);
  transition: all 0.5s;
  &:hover {
    background-color: #000;
    color: #fff;
  }
}