<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Hello Vue</title>
  <link rel="stylesheet" href="dist/style.css">
  <link rel="stylesheet" href="node_modules/vue-material/dist/vue-material.css">
</head>

<body>

  <div id="app">
    <h1>{{hello}}</h1> 
    <ol>
      <todo-item v-for="task in todo" v-bind:task="task"></todo-item>
    </ol>
    <form v-on:submit.prevent>
       <md-input-container class="field">
          <label>Task name</label>
        <md-input v-model="newTaskName" required placeholder="task name"></md-input>
      </md-input-container>
        
        <button v-on:click="add(newTaskName)">Add</button>
      
    </form>
    <button v-on:click="removeRandomly">Random</button>
  </div>
  
</body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="node_modules/vue-material/dist/vue-material.js"></script>
  <script src="build/main.bundle.js"></script>
</html>